@media screen and  (max-width :478px) {
    .group {
     display: none;
    }
    #global {
        display: none;
    }
    #login{
        transform: translateY(20px);
    }
    .find {
        transform: translateX(-55px);
    }
    .high{
        width: 200%;
    }
    #data {
        transform: translateX(-450px);
    } 
    .sweet{
        width: 100%;
    }
    .connect {
        display: block;
        color: grey;
    }
    #help a li {
        color: black;
    }
    .blog{
        border-bottom: 1px solid grey;
        padding: 10px 0px 10px 5px;
    }
    #blog{

        padding: 10px 0px 10px 5px; 
    }
    #free {
  
        transform: translateX(-50px);
        font-size: 10px;
    }
    #bolu {
        display: none;
    }
    #home {
        display: none;
    }
    #login {
        margin-top: -90px;
        border: 1px solid white;
        margin-left: 200px;
    }
    #next {
        font-size: 30px;
    }
    #ope {
        display: flex;
        height: 30px;
    }
    #flick {
        position: fixed;
         top: 0;
         z-index: 2;
         background-color: rgba(0, 0, 0, 0.322);
         width: 100vh;
         height: 60px;
     }
    input:focus{
        box-shadow: none !important;
        border: none;
    }
    .member {
        font-size: 25px;
    }
    .cat {
        margin-top: 120px !important;
        margin-right: 30px;
    }
    .logo {
        height: 587px;
        width: 100%;
        position: relative;
        display: none;
    
    }

    #blog{
    color: black;
    }
    .mug{
       padding: 30px 120px 0px;
    }
    .port {
        display: flex;
    }
    #help{
        margin-top: 10px;
    }

    .sign {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translate(130px,0px);
        padding-top: 60px;
        margin: 0px 0px 0px 60px;
    }
    .loyal {
        font-size: 30px;
    }
    .svg{
        padding: 10px 80px 40px;
        color: grey;
    }
    #four {
        bottom: -490px;
        left: 50px;
        font-size: 30px;
    }
    .not {
        font-size: 25px;
    }

    .henry {
        display: none;
    }
    #two {
    margin-top: 10px;
    margin-left: 250px;
    }
    #two a li {
        color: black;
    }
    .eng {
        color: black;
    }
    .dami {
        margin-left: 190px;
        width: 150px;
        height: 50px;

    } 
    .chair {
        background-image: none;
            background-size: cover;
            margin-top: -25px !important;
     }
    .norm {
        display: none;
     }
     .table {
        width: 70vw;
        transform: translateX(-80px);

     }
    .phone {
      padding: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin: 0px !important;

     }
     .container-fluid {
        padding: 0px !important;
        margin: 0px !important;
     }
     #temi {
        width: 170%;
     }
     .good {
        padding: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
  
       }
    .rug {
    transform: translate(120px,20px);
    } 
    #sky{
        height: 765px;
    }
  
    }

